In [1]:
l1=[1,2,3,["hi","jay","abc"]]
print(l1)

[1, 2, 3, ['hi', 'jay', 'abc']]

In [3]:
l2=["good","morning","hello",["hi","hello"]]
print(l2[3][1])

hello

In [4]:
s1=["jay","abc","xyz",[45,56,78,[35,89],68],[76,98,87,75],[78,45,48,58,69],[7.8,6.8,6],7]
print(s1)

['jay', 'abc', 'xyz', [45, 56, 78, [35, 89], 68], [76, 98, 87, 75], [78, 45, 48, 58, 69], [7.8, 6.8, 6], 7]

In [6]:
print("Name of student is :",s1[0])
print("Surname of student is :",s1[1])
print("Name of university is :",s1[2])
print("1st Semester marks :",s1[3])
print("1st Semester Multiple attempt subject marks are : ",s1[3][3])

Name of student is : jay
Surname of student is : abc
Name of university is : xyz
1st Semester marks : [45, 56, 78, [35, 89], 68]
1st Semester Multiple attempt subject marks are :  [35, 89]

In [7]:
s1[4]=99
print(s1)

['jay', 'abc', 'xyz', [45, 56, 78, [35, 89], 68], 99, [78, 45, 48, 58, 69], [7.8, 6.8, 6], 7]

In [8]:
s1[3][3][1] = 98
print(s1)

['jay', 'abc', 'xyz', [45, 56, 78, [35, 98], 68], 99, [78, 45, 48, 58, 69], [7.8, 6.8, 6], 7]